body{
    overflow-x: hidden;
}





.productdisplay {
    margin: 0px 50px;
    width: 100vw;
    box-sizing: border-box; 
    display: flex;
}



.product-left {
    display: flex;
    gap: 17px;
    width: 50vw;
}

.product-img-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.product-img-left img {
    height: 163px;
    object-fit: cover; /* Ensure images fit within their container */
}

.productdisplay-main {
    width: 586px;
    height: 700px;
    object-fit: cover; /* Ensure the image scales correctly */
}

.product-right {
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.product-right h1 {
    font-size: 40px;
    font-weight: 700;
    color: #374151;
    flex-wrap: wrap;
}
.product-right-star {
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: black;
    font-size: 14px;
}
.display-price {
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 600;
}
.old {
    color: #374151;
    text-decoration: line-through;
}
.new {
    color: #bc2f2f;
}
.product-size {
    margin-top: 55px;
    color: #374151;
    font-size: 20px;
    font-weight: 600;
}
.product-sizes {
    display: flex;
    margin: 30px 0px;
    gap: 20px;
}
.product-sizes div {
    padding: 18px 24px;
    background: #fbfbfb;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
}
.product-right button {
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: rgb(228, 3, 3);
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}
.product-des {
    flex-wrap: wrap;
    overflow: hidden;
    word-wrap: break-word;
}
